{% extends 'base.html.twig' %}
{% block body %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Date de mise en ligne</th>
      <th scope="col">Genre</th>
      <th scope="col">Taille</th>
      <th scope="col">Couleur</th>
      <th scope="col">Marque</th>
      <th scope="col">Picture</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{ veste.name }}</td>
      <td>{{ veste.releaseDate|date("Y M") }}</td>
      <td>@{{ veste.genre }}</td>
      <td>{{ veste.taille }}</td>
      <td>{{ veste.color }}</td>
      <td>{{ veste.picture }}</td>
 {% for brand in veste.brand %}
  <div class="card-body bg-dark text-warning" >
    <h5 class="card-title">{{ brand.name }}</h5>
  </div>
{% endfor %}

    </tr>

  </tbody>
</table>

<a href="{{path('veste', {'id': veste.id })}}" class="btn btn-danger">show</a>
<a href="{{path('veste', {'id': veste.id })}}" class="btn btn-danger">edit</a>

{% endblock %}